<h1>Listing voices</h1>

<table>
  <tr>
    <th>File</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @voices.each do |voice| %>
  <tr>
    <td><%= voice.file %></td>
    <td><%= voice.name %></td>
    <td><%= link_to 'Show', voice %></td>
    <td><%= link_to 'Edit', edit_voice_path(voice) %></td>
    <td><%= link_to 'Destroy', voice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voice', new_voice_path %>
